body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

background color: #CCFFFF;		color: #369;
}
background: green url(http://www.stanford.edu/group/csp/cs21/images/bg.gif);}
address {font-family: Times; font-size: 9px; }
.fn {font-family: Arial; color: black; }
.ln {font-family: Arial; color: black; }
h1 {font-size; 18px; font-variant; small-caps; color #F3C; background-color: #F6C}
h2 {font; 12x; color:#09F}
.things {font-size: 20px; font-style: italic; font-variant: small-caps; }
.pink {font-size: Helvetica; color:#F36}
